# Ignore the compiled binary file
*.out
*o
*.pdf
simple_examples/*.out
simple_examples/*.o
simple_examples/*.pdf
S.O.L.I.D/*.o
S.O.L.I.D/*.out
Design_Patterns/SINGELTON_DP/*.o
Design_Patterns/SINGELTON_DP/*.out
Design_Patterns/BUILDER_DP/*.out
Design_Patterns/BUILDER_DP/*.o
# You can also ignore all .out files if needed
# *.md

